* {
    margin: 0px;
    padding: 0px;
    scrollbar-width: 0;
    scroll-margin: 0;
}

.upper {
    border: 5px solid orange;
    background-color: orange;
    margin: 5px;
    height: 273px;
}

.mid {
    border: 5px solid rgb(255, 255, 255);
    background-color: white;
    margin: 5px;
    height: 273px;
}

.lower {
    border: 5px solid rgb(68, 211, 21);
    margin: 5px;
    background-color: green;
    height: 273px;
}

.chakra {
    border-radius: 100%;
    background-color: transparent;
    height: 270px;
    animation-name: ind;
    animation-duration: 22s;
    animation-iteration-count: infinite;
}

.greet {
    background-color: transparent;
    color: green;
    animation-name: indgreet;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes ind {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes indgreet {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scalex(4);
    }
}